<!DOCTYPE html>
<html>
<head>
  <title>SubsProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <!-- STRIPE -->
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>');
  </script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
</head>
<body>
  <!-- <div class="content"> -->
    <%= render 'layouts/navbar' %>
      <% if @notice || @alert %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end %>
    <%= yield %>
  <!-- </div>
  <footer class="footer">
    <%= render 'layouts/footer' %>
  </footer> -->
</body>
</html>
